/* ================================ */
/*            Common CSS           */
/* ================================ */
* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  background: #282828;
  color: #fff4d2;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0;
  border-radius: 10px;
}

tooltip {
  background: #282828;
  color: #48463D;
  border: 2px solid #48463D;
  border-radius: 5px;
}

.modules-left {
  padding-left: 5px;
}

.modules-right {
  padding-right: 5px;
}

#custom-rofi,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  font-weight: 400;
  color: #202020;
  background: #282828;
  border-radius: 2px;
}

#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  padding-right: 4px;
  margin: 5px 0px;
}

#custom-rofi {
  /* border: 2px solid #458588; */
  /* border-radius: 5px; */
  background: #282828;
  padding: 0 6px;
  margin: 5px 0px;
}

#custom-waypick {
  color: #B9B29B;
  border-bottom: 1px solid #B9B29B;
  font-family: monospace;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  margin: 0px;
}

#workspaces button {
  color: #fff4d2;
  background: #282828;
  /* border: 2px solid #fff4d2; */
  min-width: 25px;
  padding: 0 4px;
  margin: 5px 3px;
}

#workspaces button:hover {
  background: #282828;
  border: 2px solid #b16286;
  border-radius: 12px;
}

#workspaces button.visible {
  border: 2px solid #689d6a;
  border-radius: 12px;
  background: #282828;
}

#workspaces button.visible:hover {
  border: 2px solid #689d6a;
  border-radius: 12px;
  background: #282828;
}

#workspaces button.active {
  border: 2px solid #689d6a;
  border-radius: 12px;
  background: #282828;
}

#workspaces button.active:hover {
  border: 2px solid #689d6a;
  border-radius: 12px;
  background: #282828;
}

#workspaces button.urgent {
  border: 2px solid #cc241d;
  border-radius: 12px;
  background: #282828;
}

/* ================================ */
/*            window                 */
/* ================================ */

#window {
  color: #a89884;
  background: #282828;
  /* border: 2px solid #d3869b; */
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
  /* padding: 0 6px; */
  background: #282828;
}

/* ================================ */
/*            disk                 */
/* ================================ */

#disk {
  color: #ea6962;
  border: 2px solid #ea6962;
}

/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
  color: #e78a4e;
  border: 2px solid #e78a4e;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
  color: #d8a657;
  border: 2px solid #d8a657;
}

#temperature.critical {
  color: #cc241d;
  border: 2px solid #cc241d;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#custom-backlight {
  color: #f6c657;
  background: #282828;
}

/* ================================ */
/*            memory                */
/* ================================ */
#custom-memory {
  color: #458588;
  border: 2px solid #458588;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  color: #dad4bb;
  background: #282828;
}

#pulseaudio.muted {
  color: #ea6962;
  background: #282828;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  color: #dad4bb;
  background: #282828;
}

#battery.critical {
  color: #cc241d;
  background: #282828;
}

#battery.warning {
  color: #e78a4e;
  background: #282828;
}
/* ================================ */
/*            clock                 */
/* ================================ */
#clock.time {
  color: #dad4bb;
  background: #282828;
}

#clock.date {
  color: #dad4bb;
  background: #282828;
}

#custom-notification {
  color: #dad4bb;
  font-size: 14px;
  background: #282828;
  padding: 2px 2px;
}

#custom-player {
  color: #282828;
  border: 2px solid #282828;
  border-radius: 21px;
  background: #57544A;
  padding-left: 9px;
  padding-right: 9px;
}
